footer.page-footer.orange
    div.footer-copyright
        div.container Assembled by 
            div.chip
                a(href="https://github.com/chellem" target="_blank")
                    img(src="https://secure.gravatar.com/avatar/512870f7c69bb5b47dbb79d51332d38a?s=32&d=identicon" alt="Dickriven Chellemboyee")
                    span Dickriven Chellemboyee
