footer
    div.page-footer.orange
        div.container
            div.row
                div.col.l6.s12
                    h5.white-text Company Bio
                    p.grey-text.text-lighten-4 We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
