extends layout

block content
    div.row
        p.flow-text blah
        form(method="post").col.s12
            div.file-field.input-field
                div.btn
                    span file
                    input(type="file")
                div.file-path-wrapper
                    input.file-path.validate(type="text")
