extends layout

block content
  h1= title
  p Welcome to #{title}


  form(method="post")
    fieldset
        legend General
        p
            label(for="user[name]") Username:
                input(type="text", name="user[name]", value="")
