doctype html
html
  head
    title Document Convertor
    link(rel="apple-touch-icon", sizes="180x180", href="/images/apple-touch-icon.png")
    link(rel="icon", type="image/png", size="32x32", href="/images/favicon-32x32.png")
    link(rel="icon", type="image/png", size="16x16", href="/images/favicon-16x16.png")
    link(ref="manifest", href="/images/manifest.json")
    link(ref="mask-icon", href="/images/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="theme-color", content="#ffffff")
    include includes/styles.pug
    include includes/scripts.pug
  body
    header
        include includes/nav.pug
    main
        block content
    include includes/foot.pug
