doctype html
html
  head
    title Document Convertor
    include includes/styles.pug
    include includes/scripts.pug
  body
    header
        include includes/nav.pug
    main
        block content
    include includes/foot.pug
