extends layout

block content
    div.section.no-pad-bot
    div.container
        div.row
            div#output.slider
                ul.slides
                  each image,key in images
                    li
                        img(src= image)
